<footer class="footer">
    <div class="footer__bg">
        <div class="footer__line"></div>
        <div class="container">
            <div class="footer__content">
                <div class="footer__top scroll-element js-scroll fade-in-bottom">
                    <section class="footer__contacts contacts">
                        <figure class="contacts__logo">
                            <img class="contacts__logo-img" src="images/svgSprite.svg#logo-footer" alt="Afrianska">
                            <figcaption class="contacts__name">Afrianska</figcaption>
                        </figure>
                        <address class="contacts__address contacts__info">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit.
                        </address>
                        <a class="contacts__phone contacts__info" href="tel:+62-812-7313-4321">+62-812-7313-4321</a>
                        <a class="contacts__email contacts__info" href="mailto:hello.afrian@gmail.com">hello.afrian@gmail.com</a>
                    </section>
                    <section class="footer__menu footer-menu">
                        <div class="footer-menu__column pages">
                            <h2 class="pages__title title-h2">About US</h2>
                            <ul class="pages__list">
                                <li class="pages__item"><a class="pages__link" href="#">About</a></li>
                                <li class="pages__item"><a class="pages__link" href="#">What We Do</a></li>
                                <li class="pages__item"><a class="pages__link" href="#">Project</a></li>
                                <li class="pages__item"><a class="pages__link" href="#">How It Work With Us</a></li>
                            </ul>
                        </div>
                        <div class="footer-menu__column socials">
                            <h2 class="socials__title title-h2">Follow US</h2>
                            <ul class="socials__list">
                                <li class="socials__item"><a class="socials__link" href="#">Instagram</a></li>
                                <li class="socials__item"><a class="socials__link" href="#">Facebook</a></li>
                                <li class="socials__item"><a class="socials__link" href="#">LinkedIn</a></li>
                                <li class="socials__item"><a class="socials__link" href="#">Youtube</a></li>
                            </ul>
                        </div>

                    </section>
                </div>
                <div class="footer__copy">
                    2019 © Afrianska. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
