<div id="overlay">
  <div class="modal">
    <form action="" class="modal__form modal-form" autocomplete="off">
      <h2 class="modal-form__title title-h2">send us message</h2>
      <label class="modal-form__label"><span class="modal-form__label-text">full name</span>
        <input type="text" class="modal-form__input" placeholder="Your Name">
      </label>
      <label class="modal-form__label"><span class="modal-form__label-text">email</span>
        <input type="text" class="modal-form__input" placeholder="Your Email">
      </label>
      <label class="modal-form__label"><span class="modal-form__label-text">message</span>
        <textarea class="modal-form__textarea" placeholder="Your Message"></textarea>
      </label>
      <button class="modal-form__submit pulse" type="submit">submit</button>
    </form>
  </div>
</div>
