.title-h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;

  @media (max-width: $md2+px) {
    font-size: 26px;
  }
}

.title-h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.title-h3 {
  font-weight: 800;
  font-size: 16px;
}

.ibg {
  position: relative;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &--contain {
    background-size: contain;
  }
}
