<section class="clients">
  <div class="container">
    <div class="clients__content">
      <div class="clients__top">
        <h1 class="clients__title title-h1">Our Beloved Client</h1>
        <p class="clients__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <ul class="clients__list scroll-element js-scroll fade-in">
        <li class="clients__item"><a class="clients__link" href="#">LOGO CLIENT 1</a></li>
        <li class="clients__item"><a class="clients__link" href="#">LOGO CLIENT 2</a></li>
        <li class="clients__item"><a class="clients__link" href="#">LOGO CLIENT 3</a></li>
        <li class="clients__item"><a class="clients__link" href="#">LOGO CLIENT 4</a></li>
      </ul>
      <ul class="clients__list clients__list--bottom scroll-element js-scroll fade-in-bottom">
        <li class="clients__item"><a class="clients__link" href="#">LOGO CLIENT 5</a></li>
        <li class="clients__item"><a class="clients__link" href="#">LOGO CLIENT 6</a></li>
        <li class="clients__item"><a class="clients__link" href="#">LOGO CLIENT 7</a></li>
        <li class="clients__item"><a class="clients__link" href="#">More Client</a></li>
      </ul>
    </div>

  </div>
</section>
