<div class="container">
    <section class="services">
        <div class="services__side">
            <h1 class="services__title title-h1">
                What we do to help
                our client grow in
                digital era,
            </h1>
            <article class="services__card card card--active">
                <div class="card__wrapper">
                    <div class="card__content">
                        <header class="card__header">
                            <figure class="card__image">
                                <img class="card__img" src="images/svgSprite.svg#card1" alt="">
                            </figure>
                        </header>
                        <div class="card__body">
                            <h2 class="card__title title-h2">
                                Make Your business To Be
                                Better Famous In Internet
                            </h2>
                            <p class="card__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <footer class="card__footer">
                        <a class="card__link" href="">Learn more</a>
                    </footer>
                </div>
            </article>
        </div>
        <div class="services__side services__side--cards">
            <article class="services__card card card--hidden">
                <div class="card__wrapper">
                    <div class="card__content">
                        <header class="card__header">
                            <figure class="card__image">
                                <img class="card__img" src="images/svgSprite.svg#card1" alt="">
                            </figure>
                        </header>
                        <div class="card__body">
                            <h2 class="card__title title-h2">
                                Make Your business To Be
                                Better Famous In Internet
                            </h2>
                            <p class="card__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <footer class="card__footer">
                        <a class="card__link" href="">Learn more</a>
                    </footer>
                </div>
            </article>
            <article class="services__card card">
                <img class="card__icon-group" src="images/svgSprite.svg#icon-group" alt="">
                <div class="card__wrapper">
                    <div class="card__content">
                        <header class="card__header">
                            <figure class="card__image">
                                <img class="card__img" src="images/svgSprite.svg#card2" alt="">
                            </figure>
                        </header>
                        <div class="card__body">
                            <h2 class="card__title title-h2">
                                Bring Technology To Your
                                Comfrotable Home
                            </h2>
                            <p class="card__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            </p>
                        </div>
                    </div>
                    <footer class="card__footer">
                        <a class="card__link" href="">Learn more</a>
                    </footer>
                </div>
            </article>
            <article class="services__card card">
                <div class="card__wrapper">
                    <div class="card__content">
                        <header class="card__header">
                            <figure class="card__image">
                                <img class="card__img" src="images/svgSprite.svg#card3" alt="">
                            </figure>
                        </header>
                        <div class="card__body">
                            <h2 class="card__title title-h2">
                                Build Your Digital Product
                                That Suitable For Your Need
                            </h2>
                            <p class="card__description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <footer class="card__footer">
                        <a class="card__link" href="">Learn more</a>
                    </footer>
                </div>
            </article>
        </div>
    </section>
</div>