.main {
  height: 100%;
  background: linear-gradient(0deg, $gradient 8.84%, rgba(152, 195, 232, 0) 31.12%);



  &__content {
    position: relative;
    margin-left: 130px;
    padding-bottom: 190px;
    padding-top: 119px;

    @media (max-width: 1400px) {
      margin-left: 0;
    }

    @media (max-width: 1120px) {
      padding-top: 0;
    }
  }

  &__img {
    position: absolute;
    right: -60px;
    top: 0;
    width: 688px;
    height: 613px;
    z-index: -1;

    @media (max-width: 1400px) {
      right: 0;
    }

    @media (max-width: 1120px) {
      width: 488px;
      height: 413px;
      top: unset;
      bottom: 0;
    }

    @media (max-width: $md3+px) {
      display: none;
    }
  }

  &__img-home {
    position: absolute;
    width: 280px;
    height: 240px;
    right: 0;
    bottom: 0;
    display: none;

    @media (max-width: $md3+px) {
      display: inline-block;
    }

    @media (max-width: 540px) {
      width: 200px;
      height: 170px;
      bottom: -10px;
    }
  }


  &__title {
    padding-bottom: 32px;
    font-family: $fontFamily2;
    font-size: 64px;
    line-height: 74px;
    max-width: 510px;

    @media (max-width: 1120px) {
      max-width: unset;
      padding-bottom: 40px;
      font-size: 48px;
      line-height: 1.2;
    }

    @media (max-width: $md3+px) {
      font-size: 36px;
      padding-bottom: 20px;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 70px;
    max-width: 400px;

    @media (max-width: $md3+px) {
      max-width: 100%;
      font-size: 14px;
      margin-bottom: 40px;

    }

  }

  &__link {
    position: relative;
    padding: 15px 48px;
    background-color: $blue-4;
    color: $white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $blue-3;
    }

  }
}