.main {
  height: 100%;
  background: linear-gradient(0deg, $gradient 8.84%, rgba(152, 195, 232, 0) 31.12%);

  &__content {
    position: relative;
    padding: 119px 0 190px 130px;

    @media (max-width: 1400px) {
      padding-left: 30px;
    }

    @media (max-width: 1120px) {
      padding-top: 0;
    }

    @media (max-width: $md3+px) {
      padding-left: 0;
    }
  }

  &__info {
    &.fade-in {
      animation: fade-in 1s ease-in-out both;
    }
  }

  &__scene {

  }

  &__img-home {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    width: 280px;
    height: 240px;

    @media (max-width: $md3+px) {
      display: inline-block;
    }

    @media (max-width: 540px) {
      bottom: -10px;
      width: 200px;
      height: 170px;
    }
  }

  &__title {
    padding-bottom: 32px;
    max-width: 510px;
    font-family: $fontFamily2;
    font-size: 64px;
    line-height: 74px;

    @media (max-width: 1120px) {
      padding-bottom: 40px;
      max-width: unset;
      font-size: 48px;
      line-height: 1.2;
    }

    @media (max-width: $md3+px) {
      padding-bottom: 20px;
      font-size: 36px;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 70px;
    max-width: 400px;

    @media (max-width: $md3+px) {
      margin-bottom: 40px;
      max-width: 100%;
      font-size: 14px;
    }
  }

  &__link {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 15px 48px;
    width: 100%;
    color: $white;
    background-color: $blue-4;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $blue-3;
    }
  }
}

.scene {
  position: absolute;
  right: -60px;
  top: 0;
  z-index: -1;
  margin: 0;
  width: 688px;
  height: 613px;

  &__man {
    left: 50px!important;
    top: 35%!important;
    width: 420px;
    height: 340px;

    @media (max-width: 1120px) {
      left: 20px!important;
      top: 40%!important;
      width: 325px;
      height: 230px;
    }
  }

  &__woman {
    left: unset!important;
    top: -9%!important;
    right: -48px;
    width: 450px;
    height: 513px;

    @media (max-width: 1120px) {
      left: unset!important;
      top: -6%!important;
      right: -40px;
      width: 345px;
      height: 330px;
    }
  }

  @media (max-width: 1400px) {
    right: 0;
  }

  @media (max-width: 1120px) {
    top: unset;
    bottom: 0;
    width: 488px;
    height: 413px;
  }

  @media (max-width: $md3+px) {
    display: none;
  }
}
