.action {
  color: $white;
  background-color: $blue-4;

  .action__bg {
    margin-right: 96px;
    border-radius: 0 200px 0 0;
    padding: 90px 0 0;
    background-color: $blue-2;
  }

  &__line-box {
    margin-right: 197px;
    border-bottom: 1px solid rgba($white, 0.4);

    .container {
      padding-left: 96px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 96px 130px;

    @media (max-width: 1400px) {
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 32px;
    max-width: 320px;
  }

  &__description {
    max-width: 460px;
    opacity: 0.6;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    min-width: 220px;
    background-color: $blue-4;
  }
}
