<section class="action">
  <div class="action__bg">
    <div class="container">
      <div class="action__content">
        <div class="action__info">
          <h1 class="action__title title-h1">Interested to work with our team?</h1>
          <p class="action__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </div>
        <button class="action__btn pulse">Let's Talk</button>
      </div>
    </div>
  </div>

</section>
