.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__menu-btn {
    position: relative;
    //margin: 50px auto;
    width: 24px;
    height: 16px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      background-color: $blue-3;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 7px;
      }

      &:nth-child(3) {
        top: 14px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 7px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: -20px;
        }

        &:nth-child(3) {
          top: 7px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}